body{
  font-family: verdana;
  letter-spacing: 0.1em;
  color: #606060;
  background: #eee;
  padding: 20px;
}

h1,h2,h3{
  font-weight: normal;
  margin-top: 0;
}

h1{
  text-indent: -10000px;
  background-size: 100%;
  width: 140px;
  height: 100px;
  margin: 0 auto;
}
